{% extends "index.html" %}

{% block content%}
<div class="container">
    <br />
    <br />
    <br />
    <div class="col-sm-6 offset-sm-3">
        <h3>Come Visit us at</h3>
        <br />
        <p>Add address here</p>
        <br />
        <h3>Find us on</h3>
        <p>Instagram: <span style="font-size: 18px;font-style: italic;">insta@insta.com</span></p>
        <p>Facebook: <span style="font-size: 18px;font-style: italic;">facebook@facebook.com</span></p>
        <p>LinkEdin: <span style="font-size: 18px;font-style: italic;">linkedin@linkedin.com</span></p>
        <br />
        <br />
        <br />
        <div>
            <p>Phone: <span style="font-size: 18px;font-style: italic;">+1 (205) 521-4811</span></p>
            <p>Email: <span style="font-size: 18px;font-style: italic;">haha@haha.com</span></p>
            <p>Location: <span style="font-size: 18px;font-style: italic;">Map Link</span></p>
        </div>
    </div>
</div>
{% endblock%}