{% extends "index.html" %}

{% block content%}
<div class="container">
    <br />
    <br />
    <br />
    <main class="form-signin text-center">
        <h1 class="h3 mb-3 fw-normal">Carrers</h1>
        <div class="row">
            <div class="col-4">
                <h4>Job Description</h4>
            </div>
            <div class="col-8" style="text-align: left;">
                <ul>
                    <li>Manage projects between IT, vendor, business groups and develop project plans using project management principles, organize teams and 
                        collaboration activities for payments related appliaction changes and project.</li>
                    <li>Jointy work with quality assurance (QA) team for planning for test scenarios, execution plans for integration, regression, and stress testing</li>
                    <li>Manage user acceptance testing (UAT) with users to ensure quality outcome of intended product as per SLA between IT and business</li>
                </ul>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-4">
                <h4>Open Positions</h4>
            </div>
            <div class="col-8" style="text-align: left;">
               2
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-4">
                <h4>Location</h4>
            </div>
            <div class="col-8" style="text-align: left;">
               Bangalore, Hyderabad, Pune
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-4">
                <h4>Posted On</h4>
            </div>
            <div class="col-8" style="text-align: left;">
               3-Aug-2022
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-4">
                <h4>Education/Qualification</h4>
            </div>
            <div class="col-8" style="text-align: left;">
               BE/BTech / equivalent or higher
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-4">
                <h4>Designation</h4>
            </div>
            <div class="col-8" style="text-align: left;">
               D_Project Manager
            </div>
        </div>
        <br />
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
    </main>
</div>
{% endblock%}