{% extends "index.html" %}

{% block content%}
<div class="container">
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-sm-4">
            <div>
                <a href="/event/request-quote?id=wedding" style="text-decoration: none;">
                    <img src="/static/img/image2.jpg" width="350" height="250" />
                    <p style="text-align: center;">Wedding Event</p>
                </a>
            </div>
            <br />
            <br />
            <div>
                <a href="/event/request-quote?id=together" style="text-decoration: none;">
                    <img src="/static/img/together.jpg" width="350" height="250" />
                    <p style="text-align: center;">Get Together Event</p>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div>
                <a href="/event/request-quote?id=birthday" style="text-decoration: none;">
                    <img src="/static/img/birthday.jpg" width="350" height="250" />
                    <p style="text-align: center;">Birthday Event</p>
                </a>
            </div>
            <br />
            <br />
            <div>
                <a href="/event/request-quote?id=baby" style="text-decoration: none;">
                    <img src="/static/img/baby.jpg" width="350" height="250" />
                    <p style="text-align: center;">Baby Shower Event</p>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div>
                <a href="/event/request-quote?id=coperate" style="text-decoration: none;">
                    <img src="/static/img/cor.jpg" width="350" height="250" />
                    <p style="text-align: center;">CORPORATE Event</p>
                </a>
            </div>
            <br />
            <br />
            <div>
                <a href="/event/request-quote?id=christmas" style="text-decoration: none;">
                    <img src="/static/img/christmas.jpg" width="350" height="250" />
                    <p style="text-align: center;">Christmas Event</p>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock%}