{% extends "index.html" %}

{% block content%}
<div class="container">
    <br />
    <br />
    <br />
    <div class="row">
        <h3>Wedding Event</h3>
        <div class="col-sm-4">
            <div>
                <img src="/static/img/image2.jpg" width="350" height="250" />
            </div>
        </div>
        <div class="col-sm-4">
            <div>
                <img src="/static/img/wedding2.jpg" width="350" height="250" />
            </div>
        </div>
        <div class="col-sm-4">
            <div>
                <img src="/static/img/wedding3.jpg" width="350" height="250" />
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <h3>Birthday Event</h3>
        <div class="col-sm-4">
            <div>
                <img src="/static/img/birthday.jpg" width="350" height="250" />
            </div>
        </div>
        <div class="col-sm-4">
            <div>
                <img src="/static/img/birthday2.jpg" width="350" height="250" />
            </div>
        </div>
        <div class="col-sm-4">
            <div>
                <img src="/static/img/birthday3.jpg" width="350" height="250" />
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <h3>Corperate Event</h3>
        <div class="col-sm-4">
            <div>
                <img src="/static/img/cor.jpg" width="350" height="250" />
            </div>
        </div>
        <div class="col-sm-4">
            <div>
                <img src="/static/img/cor2.jpg" width="350" height="250" />
            </div>
        </div>
        <div class="col-sm-4">
            <div>
                <img src="/static/img/cor3.jpg" width="350" height="250" />
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <h3>Get Together Event</h3>
        <div class="col-sm-4">
            <div>
                <img src="/static/img/together.jpg" width="350" height="250" />
            </div>
        </div>
        <div class="col-sm-4">
            <div>
                <img src="/static/img/together2.png" width="350" height="250" />
            </div>
        </div>
        <div class="col-sm-4">
            <div>
                <img src="/static/img/together3.jpg" width="350" height="250" />
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <h3>Baby Shower Event</h3>
        <div class="col-sm-4">
            <div>
                <img src="/static/img/baby.jpg" width="350" height="250" />
            </div>
        </div>
        <div class="col-sm-4">
            <div>
                <img src="/static/img/baby2.jpeg" width="350" height="250" />
            </div>
        </div>
        <div class="col-sm-4">
            <div>
                <img src="/static/img/baby3.jpg" width="350" height="250" />
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <h3>Christmas Event</h3>
        <div class="col-sm-4">
            <div>
                <img src="/static/img/christmas.jpg" width="350" height="250" />
            </div>
        </div>
        <div class="col-sm-4">
            <div>
                <img src="/static/img/christmas2.jpg" width="350" height="250" />
            </div>
        </div>
        <div class="col-sm-4">
            <div>
                <img src="/static/img/christmas3.jpg" width="350" height="250" />
            </div>
        </div>
    </div>
    <br />
    <br />
</div>
{% endblock%}