{% extends "index.html" %}

{% block content%}
<div class="container">
    <br />
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>EventType</th>
                <th>Number of Guest</th>
                <th>Username</th>
                <th>Email</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for quote in quotes %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{quote[1]}}</td>
                <td>{{quote[2]}}</td>
                <td>{{quote[3]}}</td>
                <td>{{quote[4]}}</td>
                <td>{{quote[5]}}</td>
                <td>{{quote[6]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock%}