{% extends "index.html" %}

{% block content%}
<div class="container">
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <div class="text-secondary">
                <h2>Introduction</h2>
            </div>
            <br />
            <h5>WE ARE THE FUN PEOPLE!</h5>
            <h6>Created to provide convenience, fun experiences and unforgettable memories for all. Partyology has provided services</h6>
            <h6>for hundreds of events across Alabama since 2012.Our Fun services are great for Private events, School events, </h6> 
            <h6>Community events, Birthday and more! Our friendly On-Site staff help make your event hassle-free. Allow Partyology</h6>
            <h6>to be the BEST decision for your biggest day.</h6>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-4 offset-sm-2">
            <img src="/static/img/image1.png" alt="children event" width="400" height="300" />
        </div>
        <div class="col-6">
            <img src="/static/img/image2.jpg" alt="wedding event" width="400" height="300" />
        </div>
    </div>
</div>
{% endblock%}